{% extends "homepage/base.html" %}
{% block content %}
	{% for charge in recurringCharges %}
		<div class="content-section">
			<h1>Recurring Charge Name: {{ charge.name }}</h1>
			Payment Due Date: {{ charge.payDueDate }}<br>
			{% load humanize %}
			Payment Amount: ${{charge.payAmount|floatformat:2|intcomma}}<br>
			{% if charge.paySchedule == 'D' %}
				<p>Pay Schedule: Daily<br>
			{% elif charge.paySchedule == 'W'%}
				<p>Pay Schedule: Weekly<br>
			{% elif charge.paySchedule == 'B'%}
				<p>Pay Schedule: Bi-weekly<br>
			{% elif charge.paySchedule == 'S'%}
				<p>Pay Schedule: Semi-Monthly<br>
			{% elif charge.paySchedule == 'M'%}
				<p>Pay Schedule: Monthly<br>
			{% else %}
				<p>Pay Schedule: Yearly<br>
			{% endif %}
			{% empty %}
				<div class="content-section">
				<h1>No Recurring Charges Found!</h1>
		</div>
		</p>
	{% endfor %}
{% endblock content %}