{% extends "homepage/base.html" %}
{% block content %}
	{% for charge in recurringCharges %}
		<h1>{{ charge.name }}</h1>
		Pay Due Date: {{ charge.payDueDate }}
		{% load humanize %}
		Pay Amount: ${{charge.payAmount|floatformat:2|intcomma}}<br>
		{% if charge.paySchedule == 'D' %}
			<p>Pay Schedule: Daily<br>
		{% elif charge.paySchedule == 'W'%}
			<p>Pay Schedule: Weekly<br>
		{% elif charge.paySchedule == 'B'%}
			<p>Pay Schedule: Bi-weekly<br>
		{% elif charge.paySchedule == 'S'%}
			<p>Pay Schedule: Semi-Monthly<br>
		{% elif charge.paySchedule == 'M'%}
			<p>Pay Schedule: Monthly<br>
		{% else %}
			<p>Pay Schedule: Yearly<br>
		{% endif %}
		</p>
	{% endfor %}
{% endblock content %}