{% extends "incomeManager/base.html" %}
{% block content %}
	{% for debt in debts %}
<h1>{{ debt.name }}</h1>
		{% if debt.payFrequency == 'D' %}
<p>
	Pay Frequency: Daily<br>
	{% elif debt.payFrequency == 'W'%}
<p>
	Pay Frequency: Weekly<br>
	{% elif debt.payFrequency == 'B'%}
<p>
	Pay Frequency: Bi-weekly<br>
	{% elif debt.payFrequency == 'S'%}
<p>
	Pay Frequency: Semi-Monthly<br>
	{% elif debt.payFrequency == 'M'%}
<p>
	Pay Frequency: Monthly<br>
	{% else %}
<p>
	Pay Frequency: Yearly<br>
	{% endif %}
	{% load humanize %}
	Pay Amount: ${{debt.payAmount|floatformat:2|intcomma}}<br>
	{% if debt.payDay == 'M' %}
	Pay Date: Monday<br>
	{% elif debt.payDay == 'T'%}
	Pay Date: Tuesday<br>
	{% elif debt.payDay == 'W'%}
	Pay Date: Wednesday<br>
	{% elif debt.payDay == 'R'%}
	Pay Date: Thursday<br>
	{% else %}
	Pay Date: Friday<br>
	{% endif %}
	Calculated Monthly Income: ${{debt.determineMonthlyIncome|floatformat:2|intcomma}}<br>
</p>
	{% endfor %}
{% endblock content %}