{% extends "homepage/base.html" %}
{% block content %}
	<div class=content-section">
		<center><a class="btn btn-outline-secondary" href="{% url 'debt-create' %}">New Debt</a></center>
	</div>
	<br>
	{% for debt in debts %}
		<div class="content-section">
			<h1><a class="article-title" href="{% url 'debt-detail' debt.id %}">Debt Source: {{ debt.nickname }}</a></h1>
			<p>
			Account Number: {{ debt.accountNumber }}<br>
			{% if debt.debtType == 'C' %}
				Debt Type: Credit Card<br>
			{% elif debt.debtType == 'B'%}
				Debt Type: Bank Loan<br>
			{% elif debt.debtType == 'L'%}
				Debt Type: Loan Shark<br>
			{% else %}
				Debt Type: Other<br>
			{% endif %}
			{% load humanize %}
			Current Debt Amount: ${{ debt.currentDebtAmount|floatformat:2|intcomma }}<br>
			APR: ${{debt.APR|floatformat:2|intcomma}}<br>
			Payment Due Date: {{ debt.paymentDate }}<br>
			Minimum Payment Due: ${{ debt.minimumPaymentRequired }}
			</p>
		</div>
			{% empty %}
				<div class="content-section">
				<h1>No Debts Found! AWESOME!</h1>
				</div>
	{% endfor %}
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}
		
		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
		
	{% endif %}
{% endblock content %}